---
import Layout from "../layouts/layout.astro";
import TextArea from "../components/TextArea.jsx";
---

<Layout>
  <section class="text-center space-y-1">
    <h1 class="text-xl sm:text-2xl font-semibold">
      CONVERTIDOR DE MAYÚSCULAS Y MINÚSCULAS ONLINE
    </h1>
    <h2 class="text-base text-gray-200">
      Con nuestra moderna herramienta online, podrás convertir o pasar texto de mayúsculas a minúsculas o viceversa de manera sencilla y eficiente. Simplemente introduce el texto deseado y selecciona la opción deseada de nuestra interfaz para convertir el texto.
    </h2>
  </section>
  <div>
    <TextArea client:load />
  </div>
</Layout>
