---
import Layout from "../layouts/layout.astro";
import TextArea from "../components/TextArea.jsx";
---

<Layout>
  <section class="text-center space-y-2">
    <h1 class="text-2xl sm:text-3xl">
      CONVERTIDOR DE MAYÚSCULAS Y MINÚSCULAS ONLINE
    </h1>
    <h2 class="opacity-75">
      Con nuestra aplicación web, podrás convertir texto entre mayúsculas y minúsculas de manera sencilla y eficiente. Simplemente introduce el texto deseado y selecciona la opción deseada de nuestra interfaz para llevar a cabo la conversión deseada.
    </h2>
  </section>
  <section>
    <TextArea client:load />
  </section>
  <section class="text-start mt-8">
    <hr />
    <ul class="list-disc space-y-2 p-3 text-sm mt-4 mb-4">
      <li class="opacity-75">
       <strong>Convertir a Mayúscula:</strong> Cambia todo el texto seleccionado a letras mayúsculas.
      </li>
      <li class="opacity-75">
        <strong>Convertir a Minúscula:</strong> Convierte el texto seleccionado a minúscula.
      </li>
      <li class="opacity-75">
        <strong>Eliminar espacios extra:</strong> Elimina espacios adicionales entre palabras.
      </li>
      <li class="opacity-75">
        <strong>Capitalizar el texto:</strong> Convierte la primera letra de cada palabra a mayúscula.
      </li>
      <li class="opacity-75">
        <strong>Contador de Letras:</strong> Muestra la cantidad total de letras en el texto.
      </li>
      <li class="opacity-75">
        <strong>Contador de Palabras:</strong> Indica la cantidad total de palabras en el texto.
      </li>
      <li class="opacity-75">
        <strong>Contador de Líneas:</strong> Cuenta la cantidad total de líneas en el texto.
      </li>
    </ul>
    <hr />
  </section>
</Layout>
