---
import Layout from "../layouts/layout.astro";
import TextArea from "../components/TextArea.jsx";
---

<Layout>
  <div class="text-center space-y-2 mb-5">
    <h1 class="text-xl sm:text-2xl">
      CONVERTIR <br />MINÚSCULAS A MAYÚSCULAS O VICEVERSA
    </h1>
    <p class="text-sm mt-3 text-[#9c9c9c]">
      Convierte fácilmente mayúsculas a minúsculas y viceversa con nuestro
      convertidor de texto online. Cambia el formato de tu texto de forma rápida
      y sencilla, proporcionando una edición precisa para tus necesidades.
    </p>
    <p class="text-sm text-[#9c9c9c]">
      Nuestra herramienta de edición de texto en línea permite cambiar
      mayúsculas a minúsculas y viceversa en un instante. Simplifica tus tareas
      de formato de texto y consigue el resultado que deseas con nuestro
      conversor de texto.
    </p>
    <p class="text-sm text-[#9c9c9c]">
      <strong>¡No busques más, pruébala ahora!</strong>
    </p>
  </div>
  <section>
    <TextArea client:load />
  </section>
</Layout>
