---
import Layout from "../layouts/layout.astro";
import TextArea from "../components/TextArea.jsx";
import PeWorld from "../assets/PeWorld.astro";
import LatamWorld from "../assets/LatamWorld.astro";
---

<Layout>
  <section class="text-center space-y-2">
    <h1>
      <span
        class="inline-flex animate-background-shine bg-[linear-gradient(110deg,#e3e3e3,45%,#1e293b,55%,#e3e3e3)] bg-[length:250%_100%] bg-clip-text text-2xl sm:text-4xl text-balance font-bold text-transparent"
      >
        MAYÚSCULAS Y MINÚSCULAS
      </span>
    </h1>
    <p class="text-pretty">
      Convierte texto de mayúsculas a minúsculas o viceversa fácilmente y en
      segundos.
    </p>
  </section>
  <div class="mb-7">
    <TextArea client:load />
  </div>
</Layout>
