---
import Layout from "../layouts/layout.astro";
import TextArea from "../components/TextArea.jsx";
---

<Layout>
  <section class="text-center space-y-2">
    <h1 class="text-2xl sm:text-3xl">
      CONVERTIDOR DE MAYÚSCULAS Y MINÚSCULAS ONLINE
    </h1>
    <h2 class="opacity-75">
      Con nuestra aplicación web, podrás convertir texto entre mayúsculas y minúsculas de manera sencilla y eficiente. Simplemente introduce el texto deseado y selecciona la opción deseada de nuestra interfaz para llevar a cabo la conversión deseada.
    </h2>
  </section>
  <section>
    <TextArea client:load />
  </section>
  <section class="text-start mt-8">
    <hr />
    <ul class="list-disc space-y-2 p-3 text-sm mt-4 mb-4">
      <li class="opacity-75">
       <strong>Convertir a Mayúscula:</strong><br /> Este botón
        realiza la acción de cambiar todo el texto seleccionado a letras
        mayúsculas, es decir, convierte todas las letras del texto a su forma
        capital.
      </li>
      <li class="opacity-75">
        <strong>Convertir a Minúscula:</strong><br /> Este botón lleva
        a cabo la tarea inversa al primero, transformando todas las letras del
        texto seleccionado a su forma minúscula.
      </li>
      <li class="opacity-75">
        <strong>Eliminar espacios extra:</strong><br /> Al presionar
        este botón, se eliminan los espacios adicionales entre palabras en el
        texto seleccionado, asegurando un formato más limpio y uniforme.
      </li>
      <li class="opacity-75">
        <strong>Capitalizar el texto:</strong><br /> Este botón realiza
        la capitalización del texto seleccionado, convirtiendo la primera letra
        de cada palabra a mayúscula y el resto a minúscula, lo que suele ser
        útil para títulos o encabezados.
      </li>
      <li class="opacity-75">
        <strong>Contador de Letras:</strong><br /> Este contador
        muestra la cantidad total de letras en el texto. Cada carácter,
        incluyendo letras, números y símbolos, se cuenta individualmente.
      </li>
      <li class="opacity-75">
        <strong>Contador de Palabras:</strong><br /> Este contador
        indica la cantidad total de palabras en el texto. Se considera una
        palabra como cualquier secuencia de caracteres separada por espacios,
        tabulaciones o saltos de línea.
      </li>
      <li class="opacity-75">
        <strong>Contador de Líneas:</strong><br /> Este contador cuenta
        la cantidad total de líneas en el texto. Una línea se define como una
        secuencia de caracteres que termina con un salto de línea. Incluso si el
        texto tiene una sola palabra en varias líneas, cada línea se cuenta por
        separado.
      </li>
    </ul>
    <hr />
  </section>
</Layout>
