---
import Layout from "../layouts/layout.astro";
import TextArea from "../components/TextArea.jsx";
---

<Layout>
  <div class="text-center mb-5">
    <h1 class="text-xl sm:text-3xl">
      CONVERTIDOR DE <br />MAYÚSCULAS A MINÚSCULAS
    </h1>
    <p class="text-sm mt-3 text-[#9c9c9c]">
      ¿Necesitas convertir tu texto a minúsculas o mayúsculas?<br /> ¡No busques
      más! <br /> Convierte fácilmente mayúsculas a minúsculas y viceversa con
      nuestro conversor de texto en línea. Cambia el formato de tu texto de
      forma rápida y sencilla, proporcionando una edición precisa para tus
      necesidades. Nuestra herramienta de edición de texto permite transformar
      mayúsculas a minúsculas y viceversa en un instante. Simplifica tus tareas
      de formato de texto y consigue el resultado que deseas con nuestro
      conversor de texto. <strong>¡Pruébala ahora!</strong>
    </p>
  </div>
  <section>
    <TextArea client:load />
  </section>
</Layout>
