---
import BuyMeACoffeBtn from "../components/BuyMeACoffeBtn.astro";
---

<div class="flex flex-row justify-center gap-2 mt-5 text-sm">
  Cómprame un café:
  <BuyMeACoffeBtn url="https://ko-fi.com/lunox" title="ko-fi.com" />
</div>
