---
import BuyMeACoffeBtn from "../components/BuyMeACoffeBtn.astro";
import logo from "../assets/lunox-logo.png";
import { Image } from "astro:assets";
---

<div class="flex flex-col items-center gap-1 sm:gap-2 text-sm mt-7">
  <div class="flex flex-row items-center justify-center gap-2">
    <span class="opacity-75 text-base"> Cómprame un café: </span>
    <BuyMeACoffeBtn url="https://ko-fi.com/lunox" title="ko-fi.com" />
  </div>
  <figure class="flex flex-col items-center justify-center mt-5">
    <Image src={logo} alt="My logo" width="40" height="40" loading="lazy" />
    <figcaption class="font-thin text-xs">Lunox</figcaption>
  </figure>
</div>
