---
import BuyMeACoffeBtn from "../components/BuyMeACoffeBtn.astro";
---

<div class="flex flex-row justify-center gap-2 mt-7">
  <span class="text-lg">Cómprame un café:</span>
  <BuyMeACoffeBtn url="https://ko-fi.com/lunox" title="ko-fi.com" />
</div>
